<strong>Olá, {{ name  }}</strong>
<p>Bem vindo a Gympoit, abaixo segue informações do plano contratado:</p>
<p>
  <strong>Cliente: </strong> {{ name}} <br />
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data inicio plano: </strong> {{ s_date }} <br />
  <strong>Data fim plano: </strong> {{ e_date }} <br />
  <strong>Valor: </strong> {{ price }} <br />

  <br />
</p>
